*.json binary
*.bin binary
*.zip binary
*.ref binary
*.b64 binary
*.r64 binary
*.z64 binary
*.bhz binary
*.b&h binary
*.tif binary
*.lsm binary
*.czi binary
*.oif binary
*.oib binary
*.oir binary
*.lif binary
*.nd2 binary
*.fbd binary
*.ptu binary
*.sdt binary
*.int binary
*.mod binary
*.phs binary
*.flif binary
*.ifli binary
